In [1]:
import os
from dotenv import load_dotenv
from indoxGen.llms import IndoxApi
load_dotenv()
INDOX_API_KEY = os.getenv("INDOX_API_KEY")

## Generate data from LLm without data

In [2]:
from indoxGen.synthCore import DataFromPrompt

user_prompt = "Generate a dataset with 3 column and 3 row about soccer."

LLM = IndoxApi(api_key=INDOX_API_KEY)
# instruction = DataGenerationPrompt.get_instruction(user_prompt)

data_generator = DataFromPrompt(llm=LLM,user_instruction=user_prompt,verbose=1)

generated_df = data_generator.generate_data()

# print(generated_df)
data_generator.save_to_excel("output_dataFromPrompt.xlsx")

INFO: DataFromPrompt initialized with verbose level 1
INFO: Starting data generation process
INFO: Attempt 1/3 to generate data
INFO: Successfully extracted and parsed JSON data
INFO: Data generated successfully
INFO: Converting generated data to DataFrame
INFO: Created DataFrame from nested list of dictionaries: (3, 3)
INFO: Converting generated data to DataFrame
INFO: Created DataFrame from nested list of dictionaries: (3, 3)
INFO: Data saved to Excel file at: output_dataFromPrompt.xlsx

In [3]:
generated_df

         player_name                 team  goals_scored
0       Lionel Messi  Paris Saint-Germain           672
1  Cristiano Ronaldo             Al Nassr           700
2         Neymar Jr.             Al Hilal           400

## Generate data with uploaded data

In [4]:
from indoxGen.synthCore import DataFromPrompt
from indoxGen.utils import Excel

dataset_file_path = "output_dataFromPrompt.xlsx"

excel_loader = Excel(dataset_file_path) 
df = excel_loader.load()  
user_prompt = " based on given dataset generate one unique row about soccer"
LLM = IndoxApi(api_key=INDOX_API_KEY)

added_row = DataFromPrompt(llm=LLM, user_instruction=user_prompt, example_data=df, verbose=1).generate_data()
print(added_row)

INFO: DataFromPrompt initialized with verbose level 1
INFO: Example data provided with 3 rows and 3 columns
INFO: Starting data generation process
INFO: Attempt 1/3 to generate data
INFO: Successfully extracted and parsed JSON data
INFO: Data generated successfully
INFO: Converting generated data to DataFrame
INFO: Created DataFrame from single dictionary: (1, 3)
     player_name                 team  goals_scored
0  Kylian Mbappé  Paris Saint-Germain           250

In [5]:
added_row

     player_name                 team  goals_scored
0  Kylian Mbappé  Paris Saint-Germain           250

## Generate Data with Few-shot input output Examples

In [6]:
from indoxGen.synthCore import FewShotPrompt
# Define your Language Model (LLM) instance (replace with the actual LLM you're using)
LLM = IndoxApi(api_key=INDOX_API_KEY)

# Define a user prompt for the generation task
user_prompt = "Describe the formation of stars in simple terms. Return the result in JSON format, with the key 'description'."

# Define few-shot examples (input-output pairs) to help guide the LLM
examples = [
    {
        "input": "Describe the process of photosynthesis.",
        "output": "Photosynthesis is the process by which green plants use sunlight to synthesize food from carbon dioxide and water."
    },
    {
        "input": "Explain the water cycle.",
        "output": "The water cycle is the process by which water circulates between the earth's oceans, atmosphere, and land, involving precipitation, evaporation, and condensation."
    }
]

# Create an instance of FewShotPrompt using the defined LLM, user prompt, and few-shot examples
data_generator = FewShotPrompt(
    llm=LLM,                            # Language model instance (LLM)
    user_instruction=user_prompt,        # Main user instruction or query
    examples=examples,                   # Few-shot input-output examples
    verbose=1,                           # Verbosity level (optional)
    max_tokens=8000                      # Max tokens for generation (optional)
)

# Generate the data based on the few-shot setup
df = data_generator.generate_data()

INFO: FewShotPrompt initialized with 2 examples and max_tokens=8000
INFO: Generating data from LLM
INFO: Successfully parsed JSON response
INFO: Created DataFrame with 1 rows

In [7]:
df

                                         description
0  The formation of stars begins in a cloud of ga...

The formation of stars begins in a cloud of gas and dust in space. Over time, gravity pulls the gas and dust together, causing it to clump and become denser. As the material gathers, it heats up and forms a protostar. When the temperature and pressure in the core become high enough, nuclear fusion starts, and the protostar becomes a main-sequence star, shining brightly.

In [9]:
data_generator.save_to_excel("output_data.xlsx",df)

INFO: DataFrame saved to Excel file at: output_data.xlsx

## Generate Data with Attribute

In [10]:
from indoxGen.synthCore import DataFromAttributedPrompt
LLM = IndoxApi(api_key=INDOX_API_KEY)

user_instruction =  "Generate a {adjective} sentence that is {length}."

attributes = {
        "adjective": ["serious", "funny"],
        "length": ["short", "long"]
 }

dataset = DataFromAttributedPrompt(llm=LLM,user_instruction=user_instruction,attributes=attributes,verbose=1)

df = dataset.generate_data()

INFO: DataFromAttributedPrompt initialized with 2 attributes and max_tokens=8000
INFO: Starting data generation process
INFO: Preparing prompts from attributes
INFO: Generated 4 prompts from attributes
INFO: Generated 4 data points

In [11]:
df

                                            sentence
0           Knowledge empowers the pursuit of truth.
1  In the quiet solitude of the early morning, as...
2  I told my computer I needed a break, and now i...
3  As the overly ambitious squirrel, wearing a ti...